.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input-fild{
    padding: 8px;
}
.item{
    color: blueviolet;
    list-style:circle;
    margin: 5px;
}